$color_lightblue: #C7F7FF;
$color_medblue: #89C0C9;
$color_darkblue: #3a5E63;
$color_lightbrown: #C9A689;
$color_darkbrown: #7C593C;
$color_lightgrey: #d4d4d4;
$color_darkgrey: #222;
$color_white: #fff;
$font-serif: Cardo,
Palatino Linotype,
Book Antiqua,
Palatino,
serif;
$font-sansserif: Josefin Sans,
Trebuchet MS,
Helvetica,
sans-serif;
$url_0: url(../img/uk-icon.png);
$url_1: url(../img/sv-icon.png);
$url_2: url(../img/pt-icon.png);
$url_3: url(../img/fr-icon.png);
$url_4: url(../img/no-icon.png);
$url_5: url(../img/hi-icon.png);
$url_6: url(../img/es-icon.png);